@use "sass:meta";
@use 'libs/vars';
@use 'libs/functions';
@use 'libs/mixins';
@use 'libs/vendor';
@use 'libs/breakpoints';
@import 'fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic');

// Breakpoints.

	@include breakpoints.breakpoints((
		xlarge:  ( 1281px,  1680px ),
		large:   ( 981px,   1280px ),
		medium:  ( 737px,   980px  ),
		small:   ( 481px,   736px  ),
		xsmall:  ( null,    480px  )
	));

// Spinner.

	@include vendor.keyframes(spinner) {
		0% {
			@include vendor.vendor('transform', 'rotate(0deg)');
		}

		100% {
			@include vendor.vendor('transform', 'rotate(359deg)');
		}
	}

// Base.

	@include meta.load-css('base/reset');
	@include meta.load-css('base/page');
	@include meta.load-css('base/typography');

// Component.

	@include meta.load-css('components/button');
	@include meta.load-css('components/form');
	@include meta.load-css('components/icon');
	@include meta.load-css('components/list');
	@include meta.load-css('components/actions');
	@include meta.load-css('components/icons');
	@include meta.load-css('components/table');
	@include meta.load-css('components/panel');
	@include meta.load-css('components/poptrox-popup');

// Layout.

	@include meta.load-css('layout/wrapper');
	@include meta.load-css('layout/header');
	@include meta.load-css('layout/main');
	@include meta.load-css('layout/footer');