@use "../libs/breakpoints";
@use "../libs/functions";
@use "../libs/mixins";
@use "../libs/vendor";

@use "sass:color";

/* Panel */

	.panel {
		@include mixins.padding(4em, 4em);
		@include vendor.vendor('transform', 'translateY(100vh)');
		@include vendor.vendor('transition', 'transform #{functions.duration(panel)} ease');
		-webkit-overflow-scrolling: touch;
		background: color.adjust(functions.palette(bg), $alpha: -0.025);
		bottom: functions.size(header);
		left: 0;
		max-height: calc(80vh - #{functions.size(header)});
		overflow-y: auto;
		position: fixed;
		width: 100%;
		z-index: functions.misc(z-index-base) + 1;

		&.active {
			@include vendor.vendor('transform', 'translateY(1px)');
		}

		> .inner {
			margin: 0 auto;
			max-width: 100%;
			width: 75em;

			&.split {
				@include vendor.vendor('display', 'flex');

				> div {
					margin-left: 4em;
					width: 50%;
				}

				> :first-child {
					margin-left: 0;
				}
			}
		}

		> .closer {
			@include vendor.vendor('transition', 'opacity #{functions.duration(transition)} ease-in-out');
			background-image: url('images/close.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 3em;
			cursor: pointer;
			height: 5em;
			opacity: 0.25;
			position: absolute;
			right: 0;
			top: 0;
			width: 5em;
			z-index: 2;

			&:hover {
				opacity: 1.0;
			}
		}

		@include breakpoints.breakpoint('<=large') {
			@include mixins.padding(3em, 3em);

			> .inner {
				&.split {
					> div {
						margin-left: 3em;
					}
				}
			}

			> .closer {
				background-size: 2.5em;
				background-position: 75% 25%;
			}
		}

		@include breakpoints.breakpoint('<=medium') {
			> .inner {
				&.split {
					@include vendor.vendor('flex-direction', 'column');

					> div {
						margin-left: 0;
						width: 100%;
					}
				}
			}
		}

		@include breakpoints.breakpoint('<=small') {
			@include vendor.vendor('transform', 'translateY(-100vh)');
			@include mixins.padding(4em, 2em);
			bottom: auto;
			top: calc(#{functions.size(header)} - 1px);

			&.active {
				@include vendor.vendor('transform', 'translateY(0)');
			}
		}
	}